<section class="getstarted">
    <img
        class="getstarted__img"
        src="./assets/images/getstarted-image.jpg"
        width="987"
        height="885"
        alt="collegaues high-five each other"
    />
    <div class="container">
        <div class="getstarted__content">
            <h3 class="getstarted__content-title heading-h4">
                Let’s level up your brand
            </h3>
            <p class="getstarted__content-descr text-p-medium">
                You can reach us anytime
                <a
                    class="getstarted__content-link"
                    href="mailto:hellosansbrothers@gmail.com"
                    >hellosansbrothers@gmail.com</a
                >
            </p>
            <form class="getstarted__form">
                <div class="getstarted__form-top">
                    <label
                        class="getstarted__form-label getstarted__form-label--small text-p-small"
                    >
                        <span>First name</span>
                        <input
                            type="text"
                            class="getstarted__form-input"
                            name="first-name"
                            placeholder="First name"
                        />
                    </label>
                    <label
                        class="getstarted__form-label getstarted__form-label--small text-p-small"
                    >
                        <span>Last name</span>
                        <input
                            type="text"
                            class="getstarted__form-input"
                            name="last-name"
                            placeholder="Last name"
                        />
                    </label>
                </div>
                <label class="getstarted__form-label text-p-small">
                    <span>Email</span>
                    <input
                        class="getstarted__form-input"
                        name="email"
                        type="email"
                        placeholder="you@company.com"
                    />
                </label>
                <label class="getstarted__form-label text-p-small">
                    <span>Phone number</span>
                    <input
                        id="phone"
                        ;
                        class="getstarted__form-input"
                        type="tel"
                        name="phone"
                        placeholder=""
                    />
                </label>
                <label class="getstarted__form-label text-p-small">
                    <span>Message</span>
                    <textarea
                        class="getstarted__form-input getstarted__form-input--textarea"
                        name=""
                        placeholder="Leave us a message..."
                    ></textarea>
                </label>
                <button
                    class="getstarted__form-button button-form"
                    type="submit"
                >
                    Get Started
                </button>
            </form>
        </div>
    </div>
</section>
