<section class="hero">
    <div class="container">
        <h2 class="hero__title heading-h1">
            Contact our team to find out more
        </h2>
        <div class="hero__content">
            <div class="hero__map-inner">
                <div class="hero__map" id="map" style="width: 100%"></div>
            </div>
            <ul class="hero__contacts">
                <li class="hero__contacts-item">
                    <h3 class="hero__contacts-title text-p-large">Support</h3>
                    <p class="hero__contacts-descr text-p-default">
                        Our friendly team is here to help.
                    </p>
                    <a
                        class="hero__contacts-link"
                        href="mailto:support@sans.com"
                        >support@sans.com</a
                    >
                </li>
                <li class="hero__contacts-item">
                    <h3 class="hero__contacts-title text-p-large">Sales</h3>
                    <p class="hero__contacts-descr text-p-default">
                        Our friendly team is here to help.
                    </p>
                    <a class="hero__contacts-link" href="mailto:sales@sans.com"
                        >sales@sans.com</a
                    >
                </li>
                <li class="hero__contacts-item">
                    <h3 class="hero__contacts-title text-p-large">Phone</h3>
                    <p class="hero__contacts-descr text-p-default">
                        Our friendly team is here to help.
                    </p>
                    <a class="hero__contacts-link" href="tel:+14353457655"
                        >+1 (435) 345-7655</a
                    >
                </li>
            </ul>
        </div>
    </div>
    <script src="https://api-maps.yandex.ru/v3/?apikey=0699fc42-9b88-4a56-a46a-f584f759ab85&lang=ru_RU"></script>
</section>
