:root {
    // neutral colors
    --neutral-color-10: #fff;
    --neutral-color-20: #f5f5f5;
    --neutral-color-30: #ededed;
    --neutral-color-40: #ced1d8;
    --neutral-color-50: #afb3bb;
    --neutral-color-60: #18181d;
    --neutral-color-100: #1d1e25;
    --neutral-color-120: #828282;
    --neutral-color-130: #d9d9d9;
    --neutral-color-140: #343542;
    --neutral-color-150: #7e8492;

    // success colors
    --success-color-70: #e2f8f0b3;

    // logo color
    --logo-color-text: #101010;
    --logo-color-circle: #101010;

    // button color
    --button-color-var-2-active: #1d1e25;
    --button-color-var-2-disable: transparent;

    // arrow colors
    --arrow-color-var-2-active: #fff;
    --arrow-color-var-2-disable: #ced1d8;

    // border colors {
    --border-color-var-2-active: transparent;
    --border-color-var-2-disable: #ced1d8;

    // primary color
    --focus-iris: #4e7ddb;
    --hover-iris: #1463ff;

    // custom
    --pricing-best-background: #161a34;
    --about-circle-color: #161a34;

    // transition
    --transition-04: all 0.4s;

    // container
    --container-padding: 15px;
    --container-width: 1200px;

    @include mini-desktop {
        --container-width: 1000px;
    }

    @include tablet {
        --container-width: 860px;
    }

    // z-index
    --z-index-01: 1;
    --z-index-02: 2;
    --z-index-03: 3;
    --z-index-04: 4;
    --z-index-05: 5;
}

[data-theme='dark'] {
    // neutral colors
    --neutral-color-10: #1d1e25;
    --neutral-color-100: #fff;
    --neutral-color-120: #343542;

    // logo colors
    --logo-color-text: #fff;
    --logo-color-circle: #343542;

    // buttons colors
    --button-color-var-2-active: #fff;
    --button-color-var-2-disable: #ced1d8;

    // arrow colors
    --arrow-color-var-2-active: #000;
    --arrow-color-var-2-disable: #000;

    // border colors
    --border-color-var-2-active: #ced1d8;
    --border-color-var-2-disable: transparent;

    // custom
    --pricing-best-background: #18181d;
    --about-circle-color: #fff;
}

[data-menu='fixed-menu'] {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: transparent;
    transition: var(--transition-04);
}

[data-menu='fixed-menu'][data-state='hidden'] {
    transform: translateY(-100%);
}

[data-menu='fixed-menu'][data-state='scrolled'] {
    background-color: var(--neutral-color-10);
}

[data-menu='fixed-menu'][data-state='visible'] {
    background-color: var(--neutral-color-10); /* Цвет фона при видимом меню */
}
