<section class="articles">
    <div class="container">
        <ul class="articles__content">
            <li class="articles__content-item articles__content-item--1">
                <img
                    loading="lazy"
                    src="./assets/images/blog/table-laptop.jpg"
                    alt="Laptop on the table"
                />
                <h3 class="articles__content-title heading-h3">
                    How we perform long-running tasks using AWS services
                </h3>
                <p class="articles__content-descr text-p-medium">
                    Webflow is web design tool as well as a hosting platform and
                    CMS all in one. While you are probably familiar with all of
                    these, they are usually entirely separate tools.
                </p>
            </li>
            <li class="articles__content-item articles__content-item--2">
                <img
                    loading="lazy"
                    src="./assets/images/blog/consultation.jpg"
                    alt="Workers consultation"
                />
                <h3
                    class="articles__content-title articles__content-title--underline heading-h3"
                >
                    How to ask when doing User Research
                </h3>
                <p class="articles__content-descr text-p-medium">
                    Bro, the story is that you want to make an application for
                    buying and selling goods on the market. During user
                    research, what do you think you will ask people?
                </p>
            </li>
            <li class="articles__content-item articles__content-item--3">
                <img
                    loading="lazy"
                    src="./assets/images/blog/worker-on-work.jpg"
                    alt="worker on work"
                />
                <h3 class="articles__content-title heading-h3">
                    Layout Exploration — Simple exercise but big effect
                </h3>
                <p class="articles__content-descr text-p-medium">
                    Make alternatives or other options for the design we are
                    making. For example, we are creating a website design. Then
                    there is the testimonial section.
                </p>
            </li>
            <li class="articles__content-item articles__content-item--4">
                <img
                    loading="lazy"
                    src="./assets/images/blog/stand-consultation.jpg"
                    alt="Consultation"
                />
                <h3 class="articles__content-title heading-h3">
                    Webflow Break the Coding Barrier
                </h3>
                <p class="articles__content-descr text-p-medium">
                    Webflow is web design tool as well as a hosting platform and
                    CMS all in one. While you are probably familiar with all of
                    these, they are usually entirely separate tools.
                </p>
            </li>
        </ul>
    </div>
</section>
