<section class="hero hero-circles">
    <div class="container">
        <h2 class="hero__title heading-h1">Activity & Updates</h2>
        <p class="hero__descr heading-h5">
            Our biggest challenge is making sure we're always designing and
            building products that will help you run your business better.
        </p>
        <nav class="hero__nav">
            <ul class="hero__nav-list">
                <li class="hero__nav-item">
                    <a class="hero__nav-link text-p-default" href="#"
                        >View all</a
                    >
                </li>
                <li class="hero__nav-item">
                    <a class="hero__nav-link text-p-default" href="#">Design</a>
                </li>
                <li class="hero__nav-item">
                    <a class="hero__nav-link text-p-default" href="#"
                        >Articles</a
                    >
                </li>
                <li class="hero__nav-item">
                    <a class="hero__nav-link text-p-default" href="#"
                        >Product</a
                    >
                </li>
                <li class="hero__nav-item">
                    <a class="hero__nav-link text-p-default" href="#"
                        >Software Development</a
                    >
                </li>
                <li class="hero__nav-item">
                    <a class="hero__nav-link text-p-default" href="#"
                        >Customer Success</a
                    >
                </li>
            </ul>
        </nav>
        <div class="hero__slider swiper">
            <div class="swiper-wrapper">
                <div class="hero__slide swiper-slide">
                    <img
                        src="./assets/images/blog/woman-smile.jpg"
                        alt="woman employer smine on the work"
                    />
                    <div class="hero__slide-subscription">
                        <span class="insight__slide-date text-p-small"
                            >Published in Insight
                            <time datetime="2021-01-30"> Jan 30, 2021 </time>
                        </span>
                        <span class="hero__slide-author text-p-small"></span>
                    </div>
                    <h3 class="hero__slide-title heading-h5">
                        Practice making User Flow
                    </h3>
                    <p class="hero__slide-descr">
                        In this article, we'll cover how to create user flows
                    </p>
                </div>
                <div class="hero__slide swiper-slide">
                    <img
                        src="./assets/images/blog/two-woman-work.jpg"
                        alt="employer typing on the laptop"
                    />
                    <div class="hero__slide-subscription">
                        <span class="insight__slide-date text-p-small"
                            >Published in Insight
                            <time datetime="2021-01-30"> Jan 30, 2021 </time>
                        </span>
                        <span class="hero__slide-author text-p-small"
                            >by : Albert Sans</span
                        >
                    </div>
                    <h3 class="hero__slide-title heading-h5">
                        Overview of the Design Principles
                    </h3>
                    <p class="hero__slide-descr">
                        What are Design Principles?… To understand design
                        principles, we first discuss the principles.
                    </p>
                </div>
                <div class="hero__slide swiper-slide">
                    <img
                        src="./assets/images/blog/collegaues-five-hand.jpg"
                        alt="two collegaues five hand each other"
                    />
                    <div class="hero__slide-subscription">
                        <span class="insight__slide-date text-p-small"
                            >Published in Insight
                            <time datetime="2021-01-30"> Jan 30, 2021 </time>
                        </span>
                        <span class="hero__slide-author text-p-small"
                            >by : Albert Sans</span
                        >
                    </div>
                    <h3 class="hero__slide-title heading-h5">
                        Using Grid in website design
                    </h3>
                    <p class="hero__slide-descr">
                        Andi: "What's the grid like?" Toni: “Like below…”
                    </p>
                </div>
                <div class="hero__slide swiper-slide">
                    <img
                        src="./assets/images/blog/woman-smile.jpg"
                        alt="woman employer smine on the work"
                    />
                    <div class="hero__slide-subscription">
                        <span class="insight__slide-date text-p-small"
                            >Published in Insight
                            <time datetime="2021-01-30"> Jan 30, 2021 </time>
                        </span>
                        <span class="hero__slide-author text-p-small"></span>
                    </div>
                    <h3 class="hero__slide-title heading-h5">
                        Practice making User Flow
                    </h3>
                    <p class="hero__slide-descr">
                        In this article, we'll cover how to create user flows
                    </p>
                </div>
                <div class="hero__slide swiper-slide">
                    <img
                        src="./assets/images/blog/two-woman-work.jpg"
                        alt="employer typing on the laptop"
                    />
                    <div class="hero__slide-subscription">
                        <span class="insight__slide-date text-p-small"
                            >Published in Insight
                            <time datetime="2021-01-30"> Jan 30, 2021 </time>
                        </span>
                        <span class="hero__slide-author text-p-small"
                            >by : Albert Sans</span
                        >
                    </div>
                    <h3 class="hero__slide-title heading-h5">
                        Overview of the Design Principles
                    </h3>
                    <p class="hero__slide-descr">
                        What are Design Principles?… To understand design
                        principles, we first discuss the principles.
                    </p>
                </div>
                <div class="hero__slide swiper-slide">
                    <img
                        src="./assets/images/blog/collegaues-five-hand.jpg"
                        alt="two collegaues five hand each other"
                    />
                    <div class="hero__slide-subscription">
                        <span class="insight__slide-date text-p-small"
                            >Published in Insight
                            <time datetime="2021-01-30"> Jan 30, 2021 </time>
                        </span>
                        <span class="hero__slide-author text-p-small"
                            >by : Albert Sans</span
                        >
                    </div>
                    <h3 class="hero__slide-title heading-h5">
                        Using Grid in website design
                    </h3>
                    <p class="hero__slide-descr">
                        Andi: "What's the grid like?" Toni: “Like below…”
                    </p>
                </div>
            </div>
            <div class="hero__pagination pagination swiper-pagination"></div>
        </div>
    </div>
</section>
