<footer class="footer">
    <div class="container footer__inner">
        <div class="footer__top">
            <div class="footer__top-text">
                <h3 class="footer__top-title">Think beyond the wave</h3>
                <p class="footer__top-descr text-p-medium">
                    Ask about Sans products, pricing, implementation, or
                    anything else. Our highly trained reps are standing by,
                    ready to help
                </p>
            </div>
            <a class="footer__top-button" href="#">Try for free</a>
        </div>
        <div class="footer__middle">
            <div class="footer__middle-right">
                <a class="footer__logo" href="/">
                    <img
                        loading="lazy"
                        src="./assets/icons/footer-logo.svg"
                        aria-label="Home page"
                        alt="Logo Coca"
                    />
                </a>
                <p class="footer__middle-descr text-p-default">
                    We built an elegant solution. Our team created a fully
                    integrated sales and marketing solution for SMBs
                </p>
            </div>
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a
                            class="footer__item-title"
                            href="#"
                            data-id="footer__item-title-company"
                            >Company
                            <svg
                                width="6"
                                height="10"
                                viewBox="0 0 6 10"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M0.292893 9.70717C-0.0976315 9.31664 -0.0976315 8.68348 0.292893 8.29295L3.58579 5.00006L0.292893 1.70717C-0.097631 1.31664 -0.0976306 0.683478 0.292894 0.292955C0.683418 -0.0975702 1.31658 -0.0975701 1.70711 0.292955L5.70711 4.29295C6.09763 4.68348 6.09763 5.31664 5.70711 5.70717L1.70711 9.70717C1.31658 10.0977 0.683417 10.0977 0.292893 9.70717Z"
                                    fill="#7E8492"
                                />
                            </svg>
                        </a>
                        <ul
                            class="footer__subitem"
                            data-id="footer__subitem-company"
                        >
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >About</a
                                >
                            </li>
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >Pricing</a
                                >
                            </li>
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >Jobs</a
                                >
                            </li>
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >Blog</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="footer__item">
                        <a
                            class="footer__item-title"
                            href="#"
                            data-id="footer__item-title-product"
                            >Product
                            <svg
                                width="6"
                                height="10"
                                viewBox="0 0 6 10"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M0.292893 9.70717C-0.0976315 9.31664 -0.0976315 8.68348 0.292893 8.29295L3.58579 5.00006L0.292893 1.70717C-0.097631 1.31664 -0.0976306 0.683478 0.292894 0.292955C0.683418 -0.0975702 1.31658 -0.0975701 1.70711 0.292955L5.70711 4.29295C6.09763 4.68348 6.09763 5.31664 5.70711 5.70717L1.70711 9.70717C1.31658 10.0977 0.683417 10.0977 0.292893 9.70717Z"
                                    fill="#7E8492"
                                />
                            </svg>
                        </a>
                        <ul
                            class="footer__subitem"
                            data-id="footer__subitem-product"
                        >
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >Sales Software</a
                                >
                            </li>
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >Marketplace</a
                                >
                            </li>
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >Terms & Conditions</a
                                >
                            </li>
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >Privacy Policy</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="footer__item">
                        <a
                            class="footer__item-title"
                            href="#"
                            data-id="footer__item-title-discover"
                            >Discover
                            <svg
                                width="6"
                                height="10"
                                viewBox="0 0 6 10"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M0.292893 9.70717C-0.0976315 9.31664 -0.0976315 8.68348 0.292893 8.29295L3.58579 5.00006L0.292893 1.70717C-0.097631 1.31664 -0.0976306 0.683478 0.292894 0.292955C0.683418 -0.0975702 1.31658 -0.0975701 1.70711 0.292955L5.70711 4.29295C6.09763 4.68348 6.09763 5.31664 5.70711 5.70717L1.70711 9.70717C1.31658 10.0977 0.683417 10.0977 0.292893 9.70717Z"
                                    fill="#7E8492"
                                />
                            </svg>
                        </a>
                        <ul
                            class="footer__subitem"
                            data-id="footer__subitem-discover"
                        >
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >CRM Comparision</a
                                >
                            </li>
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >Partner Program</a
                                >
                            </li>
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >What is CRM</a
                                >
                            </li>
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >Resource</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="footer__item">
                        <a
                            class="footer__item-title"
                            href="#"
                            data-id="footer__item-title-help"
                        >
                            Help Center
                            <svg
                                width="6"
                                height="10"
                                viewBox="0 0 6 10"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M0.292893 9.70717C-0.0976315 9.31664 -0.0976315 8.68348 0.292893 8.29295L3.58579 5.00006L0.292893 1.70717C-0.097631 1.31664 -0.0976306 0.683478 0.292894 0.292955C0.683418 -0.0975702 1.31658 -0.0975701 1.70711 0.292955L5.70711 4.29295C6.09763 4.68348 6.09763 5.31664 5.70711 5.70717L1.70711 9.70717C1.31658 10.0977 0.683417 10.0977 0.292893 9.70717Z"
                                    fill="#7E8492"
                                />
                            </svg>
                        </a>
                        <ul
                            class="footer__subitem"
                            data-id="footer__subitem-help"
                        >
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >Community</a
                                >
                            </li>
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >Knowledge Base</a
                                >
                            </li>
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >Academy</a
                                >
                            </li>
                            <li class="footer__subitem-item">
                                <a class="footer__subitem-link" href="#"
                                    >Support</a
                                >
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom-right">
                <ul class="footer__socials-list">
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="#">
                            <img
                                src="./assets/icons/socials/icon-fb.svg"
                                alt="Facebook"
                                loading="lazy"
                            />
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="#">
                            <img
                                src="./assets/icons/socials/icon-tw.svg"
                                alt="Facebook"
                                loading="lazy"
                            />
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="#">
                            <img
                                src="./assets/icons/socials/icon-inst.svg"
                                alt="Facebook"
                                loading="lazy"
                            />
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="#">
                            <img
                                src="./assets/icons/socials/icon-in.svg"
                                alt="Facebook"
                                loading="lazy"
                            />
                        </a>
                    </li>
                </ul>
                <ul class="footer__bottom-list text-p-default">
                    <li class="footer__bottom-item">
                        <a class="footer__bottom-link" href="#"
                            >Privacy Policy</a
                        >
                    </li>
                    <li class="footer__bottom-item">
                        <a class="footer__bottom-link" href="#"
                            >Terms & Conditions</a
                        >
                    </li>
                    <li class="footer__bottom-item">
                        <a class="footer__bottom-link" href="#">Support</a>
                    </li>
                </ul>
            </div>
            <p class="footer__copyright text-p-small">
                © Copyright 2023, All Rights Reserved
            </p>
        </div>
    </div>
</footer>
