<section class="partners">
    <div class="partners__inner container">
        <div class="partners__left">
            <span class="partners__num heading-h2">890+</span>
            <p class="partners__descr text-p-medium">
                some big companies that we work with, and trust us very much
            </p>
        </div>
        <div class="partners__right">
            <ul class="partners__list">
                <li class="partners__item">
                    <img
                        src="./assets/icons/patners/AirbnbLogo.svg"
                        width="160"
                        height="90"
                        alt="Air bnb logo"
                    />
                </li>
                <li class="partners__item">
                    <img
                        src="./assets/icons/patners/AmazonLogo.svg"
                        width="160"
                        height="90"
                        alt="Amazon logo"
                    />
                </li>
                <li class="partners__item">
                    <img
                        src="./assets/icons/patners/FedExLogo.svg"
                        width="160"
                        height="90"
                        alt="Fed ex logo"
                    />
                </li>
                <li class="partners__item">
                    <img
                        src="./assets/icons/patners/MicrosoftLogo.svg"
                        width="160"
                        height="90"
                        alt="Microsoft logo"
                    />
                </li>
                <li class="partners__item">
                    <img
                        src="./assets/icons/patners/GoogleLogo.svg"
                        width="160"
                        height="90"
                        alt="Google logo"
                    />
                </li>
                <li class="partners__item">
                    <img
                        src="./assets/icons/patners/OLALogo.svg"
                        width="160"
                        height="90"
                        alt="OLA logo"
                    />
                </li>
                <li class="partners__item">
                    <img
                        src="./assets/icons/patners/WalmartLogo.svg"
                        width="160"
                        height="90"
                        alt="Walmart logo"
                    />
                </li>
                <li class="partners__item">
                    <img
                        src="./assets/icons/patners/OYOLogo.svg"
                        width="160"
                        height="90"
                        alt="OYO logo"
                    />
                </li>
            </ul>
            <div class="partners__slider swiper">
                <div class="partners__slider-wrapper swiper-wrapper">
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/AirbnbLogo.svg"
                            width="160"
                            height="90"
                            alt="Air bnb logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/AmazonLogo.svg"
                            width="160"
                            height="90"
                            alt="Amazon logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/FedExLogo.svg"
                            width="160"
                            height="90"
                            alt="Fed ex logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/MicrosoftLogo.svg"
                            width="160"
                            height="90"
                            alt="Microsoft logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/GoogleLogo.svg"
                            width="160"
                            height="90"
                            alt="Google logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/OLALogo.svg"
                            width="160"
                            height="90"
                            alt="OLA logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/WalmartLogo.svg"
                            width="160"
                            height="90"
                            alt="Walmart logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/OYOLogo.svg"
                            width="160"
                            height="90"
                            alt="OYO logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/AirbnbLogo.svg"
                            width="160"
                            height="90"
                            alt="Air bnb logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/AmazonLogo.svg"
                            width="160"
                            height="90"
                            alt="Amazon logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/FedExLogo.svg"
                            width="160"
                            height="90"
                            alt="Fed ex logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/MicrosoftLogo.svg"
                            width="160"
                            height="90"
                            alt="Microsoft logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/GoogleLogo.svg"
                            width="160"
                            height="90"
                            alt="Google logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/OLALogo.svg"
                            width="160"
                            height="90"
                            alt="OLA logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/WalmartLogo.svg"
                            width="160"
                            height="90"
                            alt="Walmart logo"
                        />
                    </div>
                    <div class="partners__slide swiper-slide">
                        <img
                            src="./assets/icons/patners/OYOLogo.svg"
                            width="160"
                            height="90"
                            alt="OYO logo"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
