.features {
    padding: 100px 0 94px;

    @include mobile {
        padding: 60px 0 64px;
    }

    &__inner {
        @include flex-center-between;
        gap: 15px;

        @include mini-desktop {
            flex-direction: column;
            align-items: flex-start;
        }

        @include tablet {
            align-items: center;
        }
    }

    &__left {
        position: relative;
    }

    &__stats {
        position: absolute;
        right: 36px;
        bottom: 40px;
        padding: 17.5px;
        height: 298px;
        max-width: 290px;
        background-color: #fff;

        @include mobile {
            right: 16px;
            bottom: 30px;
        }

        @include small-mobile {
            right: -21px;
            bottom: -18px;
            padding: 10px;
            transform: scale(0.8);
        }

        &-head {
            @include flex-center-between;
        }

        &-title {
            font-weight: 600;
            line-height: 1.5;
            color: #1d1e25;
        }

        &-body {
            margin-top: 19px;
        }

        &-item {
            position: relative;

            @include flex-center-between;
            gap: 10px;

            &:not(:last-child) {
                border-bottom: 0.73px solid #ededed;
                padding-bottom: 23px;
            }

            &:not(:first-child) {
                margin-top: 22.5px;
            }

            &-info {
                width: 100%;
                max-width: 135px;
            }

            &-title {
                font-weight: 500;
                font-size: 10px;
                line-height: 1.5;
                color: #7e8492;
            }

            &-price {
                font-weight: 700;
                font-size: 23px;
                color: #1d1e25;

                @include mobile {
                    font-size: 18px;
                }
            }

            &-different-up,
            &-different-down {
                position: absolute;
                top: 28%;
                right: 0;
                gap: 5px;
                font-weight: 500;
                font-size: 10px;
                line-height: 1.5;
                text-align: center;
                color: #1d1e25;

                @include flex-align-center;
            }

            &-different-down {
                top: calc(28% + 8%);
            }

            &-text {
                margin-top: 9px;
                font-weight: 400;
                font-size: 8px;
                color: #7e8492;

                span {
                    font-weight: 700;
                }
            }
        }
    }

    &__right {
        max-width: 557px;

        @include mini-desktop {
            max-width: 800px;
        }

        @include mobile {
            max-width: 480px;
        }
    }

    &__title {
        font-weight: 600;
        letter-spacing: -0.04em;
        color: var(--neutral-color-100);
    }

    &__descr {
        margin-top: 24px;
        font-weight: 500;
        line-height: 1.78;
        color: #7e8492;

        @include mini-desktop {
            max-width: 700px;
        }

        @include mobile {
            margin-top: 20px;
        }
    }

    &__list {
        margin-top: 40px;

        @include mobile {
            margin-right: auto;
            margin-left: auto;
        }
    }

    &__item {
        @include flex-align-center;
        gap: 19px;

        &-text {
            max-width: 353px;
            font-weight: 500;
            line-height: 1.78;
            color: var(--neutral-color-100);

            @include mini-desktop {
                max-width: 700px;
            }
        }

        &:not(:first-child) {
            padding-top: 32px;

            @include mobile {
                padding-top: 20px;
            }
        }
    }
}
