<section class="features">
    <div class="container features__inner">
        <div class="features__left">
            <img
                loading="lazy"
                src="./assets/images/laptop-work.jpg"
                width="585"
                height="651"
                alt="Woman typing on a laptop"
            />
            <div class="features__stats">
                <div class="features__stats-head">
                    <h4 class="features__stats-title text-p-default">
                        Statictic
                    </h4>
                    <img
                        loading="lazy"
                        src="./assets/icons/dotts.svg"
                        alt="Dotts icon"
                    />
                </div>
                <div class="features__stats-body">
                    <div class="features__stats-item">
                        <img
                            loading="lazy"
                            class="features__stats-graphic"
                            src="./assets/icons/statistic-up.svg"
                            alt="Graphic up"
                        />
                        <div class="features__stats-item-info">
                            <h5 class="features__stats-item-title">
                                Total Income
                            </h5>
                            <span class="features__stats-item-price"
                                >$7.020</span
                            >
                            <div class="features__stats-item-different-up">
                                <img
                                    loading="lazy"
                                    src="./assets/icons/different-up.svg"
                                    alt="Arrow up"
                                />
                                <span>15%</span>
                            </div>
                            <p class="features__stats-item-text">
                                Your <span>Income</span> of this month compared
                                to last month
                            </p>
                        </div>
                    </div>
                    <div class="features__stats-item">
                        <img
                            loading="lazy"
                            class="features__stats-graphic"
                            src="./assets/icons/statistic-down.svg"
                            alt="Graphic down"
                        />
                        <div class="features__stats-item-info">
                            <h5 class="features__stats-item-title">
                                Total Expense
                            </h5>
                            <span class="features__stats-item-price"
                                >$2.150</span
                            >
                            <div class="features__stats-item-different-down">
                                <img
                                    loading="lazy"
                                    src="./assets/icons/different-down.svg"
                                    alt="Arrow down"
                                    width="10"
                                    height="6"
                                />
                                <span>10%</span>
                            </div>
                            <p class="features__stats-item-text">
                                Your <span>Expanse</span> of this month compared
                                to last month
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__right">
            <h2 class="features__title heading-h2">
                Passion to increase company revenue up to 85%
            </h2>
            <p class="features__descr text-p-medium">
                Automate your sales, marketing and service in one platform.
                Avoid date leaks and enable consistent messaging
            </p>
            <ul class="features__list">
                <li class="features__item">
                    <img
                        class="features__item-img"
                        src="./assets/icons/features-check.svg"
                        alt="Green check"
                    />
                    <p class="features__item-text text-p-medium">
                        Close more deals with single - page contact managment
                    </p>
                </li>
                <li class="features__item">
                    <img
                        class="features__item-img"
                        src="./assets/icons/features-check.svg"
                        alt="Green check"
                    />
                    <p class="features__item-text text-p-medium">
                        Enjoy one-click calling, call scripts and voicemail
                        automation
                    </p>
                </li>
                <li class="features__item">
                    <img
                        class="features__item-img"
                        src="./assets/icons/features-check.svg"
                        alt="Green check"
                    />
                    <p class="features__item-text text-p-medium">
                        Take stages and milestones of your deals to keep the
                        sales process an track
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
