<section class="overwiew">
    <div class="overwiew__inner container">
        <h2 class="overwiew__title heading-h2">
            Coca help our client solve complex customer problems with date that
            does more.
        </h2>
        <p class="overwiew__deskr text-p-medium">
            Our platform offers the modern enterprise full control of how date
            can be access and used with industry leading software solutions for
            identity, activation, and date collaboration
        </p>
        <ul class="overwiew__list">
            <li class="overwiew__item">
                <img
                    loading="lazy"
                    src="/assets/icons/icon-build.svg"
                    width="40"
                    height="40"
                    alt="Build icon"
                />
                <h3 class="overwiew__item-title heading-h5">
                    Build your date fundamental
                </h3>
                <p class="overwiew__item-text">
                    Build access to date, develop valuable business insights and
                    drive revenue while maintaining full control over access and
                    use of date at all times.
                </p>
            </li>
            <li class="overwiew__item">
                <img
                    loading="lazy"
                    src="/assets/icons/icon-measure.svg"
                    width="40"
                    height="40"
                    alt="Measure icon"
                />
                <h3 class="overwiew__item-title heading-h5">
                    Measure more effective
                </h3>
                <p class="overwiew__item-text">
                    Effectively measure people-based campaigns with the freedom
                    to choose from best-of breed partners to optimize and drive
                    media innovation.
                </p>
            </li>
            <li class="overwiew__item">
                <img
                    loading="lazy"
                    src="/assets/icons/icon-activate.svg"
                    width="40"
                    height="40"
                    alt="Activate icon"
                />
                <h3 class="overwiew__item-title heading-h5">
                    Activate your date
                </h3>
                <p class="overwiew__item-text">
                    Accurately address your specific audiences at scale across
                    any channel, platform, publisher or network and safely
                    translate date between identity space to improve results.
                </p>
            </li>
            <li class="overwiew__item">
                <img
                    loading="lazy"
                    src="/assets/icons/icon-shield.svg"
                    width="40"
                    height="40"
                    alt="Shield icon"
                />
                <h3 class="overwiew__item-title heading-h5">
                    Strengthen consumer privacy
                </h3>
                <p class="overwiew__item-text">
                    Protect your customer date with leading privacy-preserving
                    technologies and advanced techniques to minimize date
                    movement while still enabling insight generation.
                </p>
            </li>
        </ul>
    </div>
</section>
