<section class="strength">
    <div class="container strength__inner">
        <ul class="strength__list">
            <li class="strength__item">
                <span class="strength__item-num">17k</span>
                <p class="strength__item-descr text-p-medium">
                    happy customers on worldwide
                </p>
            </li>
            <li class="strength__item">
                <span class="strength__item-num">15+</span>
                <p class="strength__item-descr text-p-medium">
                    Hours of work experience
                </p>
            </li>
            <li class="strength__item">
                <span class="strength__item-num">50+</span>
                <p class="strength__item-descr text-p-medium">
                    Creativity & passionate members
                </p>
            </li>
            <li class="strength__item">
                <span class="strength__item-num">100+</span>
                <p class="strength__item-descr text-p-medium">
                    Integrations lorem ipsum integrations
                </p>
            </li>
        </ul>
        <div class="strength__image">
            <img
                loading="lazy"
                src="./assets/images/strength-image.jpg"
                width="1200"
                height="576"
                alt="Many people smile and complite in the team company"
            />
        </div>
        <div class="strength__info">
            <h2 class="strength__title heading-h2">
                Lift your business to new heights with our digit all marketing
                services
            </h2>
            <p class="strength__descr text-p-medium">
                To build software that gives customer facing teams in small and
                medium-sized businesses the ability to create rewarding and
                long-lasting relationships with customers
            </p>
        </div>
    </div>
</section>
